@model milkrate.Models.UserPiece

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to remove @Html.DisplayFor(model => model.Piece.Title) from your closet?</h3>
<div>

    <hr />
    <div class="d-flex justify-content-center">
        <img style="max-height: 400px; max-width: 400px;" class="card-img-top" src="@Html.DisplayFor(model => model.Piece.ImageLink)" alt="@Html.DisplayNameFor(model => model.Piece.Title)">
    </div>


    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a style="color: #4800ff" asp-action="Index">Nahh, I Changed My Mind</a>
    </form>
</div>
